.x-col-left{
  height: 100%;
}

.x-user-container{
  background: url('http://i1.ytimg.com/vi/ZXyYVoDAvGk/maxresdefault.jpg') no-repeat;
  background-position: 0 -10px;
  width: 100%;
  border-bottom: 0px;
  background-size: 100%;
  color: white;
}

.panel-heading.x-usr-group{
  color: white;
  border-bottom: 0px;
}

.panel-heading.x-usr-group.x-feed, .x-custom-bg {
//  background-color: #da3b3e;
  background-image: url('./../assets/bright_squares.png');
}

.cam-stream{
  display: inline-block;
}

.x-webrtc-on{
  color: #0000ff;
}

.x-webrtc-off{
  color: red;
}

.x-online{
  color: rgba(120, 203, 97, 1.0000);
}

.x-feed{
  padding: 10px;
}

.x-no-padding{
  padding: 0;
}


#remoteVideos video {
  height: 310px;
  margin: 0 auto;
  display: block;
}
#localVideo {
  height: 120px;
  position: absolute;
  top: 50px;
  right: 10px;
}

.panel-heading.x-nav-issues{
  background-color: lightgray;
}

.x-audio-chat{
  position: relative;
}



.responsive-object {
  position: relative;
  padding-bottom: 67.5%;
  height: 0;
  margin: 10px 0;
  overflow: hidden;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}


  /*
   * Off Canvas
   * --------------------------------------------------
   */
@media screen and (max-width: 767px) {
  .padding-buddy-list{
    padding-left: 15px;
  }

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas
  .sidebar-offcanvas-right {
    right: -70%; /* 6 columns */
  }

  .row-offcanvas
  .sidebar-offcanvas-left {
    left: -70%; /* 6 columns */
  }

  .row-offcanvas.active-right {
    right: 70%; /* 6 columns */
  }

  .row-offcanvas.active-left {
    left: 70%; /* 6 columns */
  }

  .sidebar-offcanvas-left, .sidebar-offcanvas-right {
    position: absolute;
    top: 0;
    width: 70%; /* 6 columns */
  }
}

/* Filter list
   ========================================================================== */
ul.filter-list{
  list-style: none;
  padding-left: 15px;
}

ul.filter-list .filter-item:hover {
  background-color: #eee;
}

ul.filter-list .filter-item{
  font-size: 12px;
  padding: 4px 10px;
  margin: 0 0 2px 0;
  color: #777;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 3px;
}

ul.color-label-list .color{
  display: block;
  float: left;
  margin-left: -5px;
  margin-right: 4px;
  width: 6px;
  height: 15px;
  border-radius: 3px;
}

ul.color-label-list .color-label.selected {
  font-weight: bold;
  -webkit-font-smoothing: antialised;
}

.labelstyle-cccccc.selected {
  background-color: #cccccc !important;
}
.labelstyle-bfd4f2.selected{
  background-color: #bfd4f2 !important;
}
.labelstyle-fbca04.selected{
  background-color: #fbca04 !important;
}
.labelstyle-5319e7.selected{
  background-color: #5319e7 !important;
  color: white !important;
}
.labelstyle-cc317c.selected{
  background-color: #cc317c !important;
  color: white !important;
}
.labelstyle-fc2929.selected{
  background-color: #fc2929 !important;
  color: white !important;
}

.popover {
  max-width: none !important;
  width: 90%;
}
