<div class="container x-full-height">

<div class="row row-offcanvas x-full-height">

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas-left x-no-padding padding-buddy-list x-full-height" role="navigation">

            <div class="panel panel-default x-full-height">
                <!-- Default panel contents -->
                <div
                        style="border-top-right-radius: 0;"
                        class="panel-heading x-usr-group">
                    <strong>W3C Campus</strong>
                </div>
                <div class="panel-body x-user-container">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/50x50" alt="...">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{current.name}}</h4>
                            Online
                            <i class="icon icon-circle x-online"></i>
                        </div>
                    </div>
                </div>

                <!-- List group -->
                <ul
                        id="js-buddy-list"
                        class="list-group x-list-group">
                    <li
                            ng-repeat="(key, username) in users"
                            class="list-group-item">
                        <p>
                            {{username}}
                            <i style="position: absolute;right: 10px; top: 50%;margin-top: -11px;"
                               class="icon-laptop"></i>
                        </p>



                    </li>
                    <li
                            class="list-group-item">
                        <p>
                            Hello
                            <i style="position: absolute;right: 10px; top: 50%;margin-top: -11px;"
                               class="glyphicon glyphicon-phone"></i>
                        </p>



                    </li>
                </ul>
            </div>

    </div><!--/span-->


    <div class="col-xs-12 col-sm-5 x-no-padding x-full-height">
        <div
                style="border-left: 0;"
                class="panel panel-default x-full-height">
            <!-- Default panel contents -->
            <div
                    style="border-top-left-radius: 0;border-top-right-radius: 0;"
                    class="panel-heading x-usr-group">

                <div class="hidden-xs">
                    Feed
                </div>


                <section
                        class="visible-xs" style="height: 20px;position: relative;font-size: 20px;">
                    <i
                            style="cursor: pointer;position: absolute;left: 10px;"
                            class="glyphicon glyphicon-user"
                            data-toggle="offcanvas-left">
                    </i>


                    <span
                            style="cursor: pointer;position: absolute;left: 50%;margin-left: -7px;"
                            data-container="body"
                            data-placement="bottom"
                            class="glyphicon glyphicon-inbox"
                            popover></span>



                </section>



            </div>

            <div class="panel-heading x-usr-group x-feed">
                <form>

                    <div class="hidden-xs">
                        <textarea
                                id="textarea"
                                style="margin-bottom: 10px;"
                                class="form-control" 
                                rows="3" 
                                ng-model="message"></textarea>
                        <button
                                type="submit"
                                ng-click="sendMessage(message);"
                                class="btn btn-default btn-sm">
                                Publish
                        </button>
                    </div>
                    <div class="visible-xs">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="message">
                      <span class="input-group-btn">
                        <button
                                ng-click="sendMessage(message);"
                                class="btn btn-default"
                                type="submit">
                            Publish
                        </button>
                      </span>
                        </div>
                    </div>


                </form>
            </div>


            <section
                    id="js-feed"
                    class="x-feed">


                <!--<div -->
                        <!--style="opacity: 0.6;;"-->
                        <!--class="well well-sm">-->
                    <!--<div ng-class="text-right">-->
                        <!--<small>Preview</small>-->
                        <!--<p ng-bind-html-unsafe="preview.message" id="preview"></p>-->
                    <!--</div>-->

                <!--</div>-->

                    <div
                            ng-repeat="message in messages"
                            class="well well-sm">
                        <div ng-class="{'text-right': message.me}">
                            <small>{{message.name}}:</small>
                            <p ng-bind-html-unsafe="message.text"></p>
                        </div>
                    </div>

            </section>


        </div>
    </div><!--/span-->

    <div class="col-xs-6 col-sm-4 sidebar-offcanvas-right x-no-padding x-full-height hidden-xs" role="navigation">
        <section>
            <div
                    style="margin-bottom: 0;"
                    class="panel panel-default">
                <!-- Default panel contents -->
                <div
                        style="border-top-left-radius: 0;"
                        class="panel-heading x-usr-group">
                    Hangouts
                </div>
                <div class="panel-heading x-nav-issues x-custom-bg">
                    <strong>Scheduled hangouts</strong>
                    <button type="button"
                            class="btn btn-primary btn-xs pull-right"
                            ng-click="toggleForm();">
                        {{ button }}
                    </button>
                </div>



            </div>
        </section>

        <section id="js-helping-others" ng-switch="button">
            <section ng-switch-when="Add New">
                <ul
                        style="margin-bottom: 0;"
                        class="list-group">
                    <li class="list-group-item" ng-repeat="issue in issues">
                        <div>
                            <strong class="list-group-item-heading">{{ issue.title }}</strong>
                        </div>
                        <section>
                            <span ng-repeat="tag in issue.labels"
                                  data="{{ tag }}"
                                  class="{{ 'label label-primary selected labelstyle-' + tag.split('@')[1] }}">{{ tag.split('@')[0] }}</span>
                            <button
                                    ng-click="joinSession(issue.sessionId);"
                                    class="btn btn-success btn-xs pull-right hidden-xs">Online</button>
                        </section>
                        <small class="list-group-item-text">Opened by {{ issue.user_name }}</small>
                    </li>
                </ul>
            </section>

            <section ng-switch-when="Back" style="padding: 0 15px;">
                    <form
                            style="margin: 10px 0 20px 0;"
                            ng-submit="createIssue();">
                        <label>New Issue</label>
                        <input type="text" ng-model="new_issue.title" class="form-control" placeholder="Title">
                        <label>Tags</label>

                        <ul class="color-label-list filter-list">

                            <li ng-repeat="tag in tags">
                                <label
                                        for="{{tag.title}}"
                                        ng-init="tag.selected = false;"
                                        ng-class="{selected: tag.selected}"
                                        class="{{ 'col-sm-6 filter-item color-label labelstyle-' + tag.color }}">
                                    <input
                                            id={{tag.title}}
                                            style="display: none;"
                                            type="checkbox"
                                            ng-init="new_issue.labels[tag.title] = false"
                                            ng-change="new_issue.labels[tag.title] = tag.title + '@' + tag.color"
                                            ng-model="tag.selected">
                                    <!--value="{{title + '@' + hexcolor}}"-->
                                    <span
                                            ng-class="{selected: tag.selected}"
                                            class="{{ 'color selected labelstyle-' + tag.color}}">&nbsp;</span>
                                    <span class="name">{{tag.title}}</span>
                                </label>
                            </li>

                        </ul>
                        <button type="submit" class="btn btn-success btn-sm">Submit new issue</button>
                    </form>
            </section>
        </section>



        <section id="js-webrtc" class="x-audio-chat">

            <div
                    style="margin-bottom: 0;"
                    class="panel panel-default">
                <div class="panel-heading x-nav-issues x-custom-bg">

                    <strong>Action!</strong>
                </div>
            </div>

            <h3 ng-show="!webrtc_browser" class="text-center">
                Your browser is not compatible for audio or video conversations.
                <br>
                Please use Chrome or Firefox.
            </h3>

            <div style="margin: 0 auto;width: 305px;">
                <div class="cam-stream" id="myCamera"></div>
                <div class="cam-stream" id="remote0"></div>
                <div class="cam-stream" id="remote1"></div>
                <div class="cam-stream" id="remote2"></div>
            </div>

        </section>
    </div><!--/span-->

</div><!--/row-->


</div>