<div class="container x-full-height">

    <h3 class="text-center x-phrase">
        Solve problems. Work together.
    </h3>

    <div class="x-smart-friends"></div>

    <form class="form-signin">
        <div class="alert alert-info">
            <a href="#" class="alert-link">
                {{ errorMessage }}
            </a>
        </div>
        <input
                ng-model="login.email"
                type="email"
                name="email"
                class="form-control"
                placeholder="Email address"
                autofocus>
        <input
                ng-model="login.password"
                type="password"
                name="password"
                class="form-control"
                placeholder="Password">
        <button class="btn btn-lg btn-primary btn-block" ng-click="loginUser();">Sign in</button>
    </form>

</div>