.x-login-page{
  background: url('http://i1.ytimg.com/vi/ZXyYVoDAvGk/maxresdefault.jpg') no-repeat;
  background-size: 100%;
  width: 100%;
}

.x-smart-friends{
//  background-image: url('./../assets/trio.png');
  background-image: url('http://dribbble.s3.amazonaws.com/users/80158/screenshots/746554/chalkboard_icon.png');
  height: 200px;
  width: 300px;
  margin: 20px auto;
  background-size: 100%;
  border-radius: 4px;
  background-position: 0 -12px;
}

.hidden{
  display: none;
}

.x-phrase{
//  color: white;
  margin: 30px 0 0 0;
}

.x-form-margin{
  margin-bottom: 0;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  box-sizing: border-box;

}

@media screen and (max-width: 767px) {

.x-login-page{
  background: url('http://i1.ytimg.com/vi/ZXyYVoDAvGk/maxresdefault.jpg') no-repeat;
  //background-size: 100%;
  background-position: center center;
  height: 80%;
}


}